In [1]:
import pandas as pd
import random
from random import randint
from datetime import datetime, timedelta
import names

In [2]:
# Set the seed so the results are reproducible
random.seed(1)

# Define the number of records
num_records = 10000

In [3]:
# Define the categories for Food Freshness and Cuisine
cuisine = ['Italian', 'Mexican', 'Chinese', 'Thai', 'Indian', 'Japanese', 'Greek']

print(cuisine)

['Italian', 'Mexican', 'Chinese', 'Thai', 'Indian', 'Japanese', 'Greek']

In [4]:
# Define the dishes for each cuisine
Item_name = {
    'Italian': ['Pasta', 'Pizza', 'Tiramisu', 'Lasagna', 'Risotto', 'Gelato', 'Prosecco', 'Limoncello'],
    'Mexican': ['Burrito', 'Tacos', 'Margerita', 'Enchiladas', 'Chiles Rellenos', 'Horchata', 'Michelada', 'Tequila'],
    'Chinese': ['Hot pot', 'Noodles', 'Dumpling', 'Peking Duck', 'Kung Pao Chicken', 'Bubble Tea', 'Jasmine Tea', 'Soy Milk'],
    'Thai': ['Hot Soup', 'Spring Roll', 'Pad Thai', 'Green Curry', 'Thai Iced Tea', 'Coconut Water'],
    'Indian': ['Butter Chicken', 'Palak Paneer', 'Biryani', 'Tandoori Chicken', 'Lassi', 'Masala Chai'],
    'Japanese': ['Sushi', 'Cake', 'Ramen', 'Tempura', 'Udon', 'Sake', 'Matcha Tea', 'Ramune Soda'],
    'Greek': ['Ice-cream', 'Moussaka', 'Souvlaki', 'Moussaka', 'Ouzo', 'Greek Coffee', 'Mythos Beer'],
    'American': ['Burger', 'Fries', 'Steak', 'Coke', 'BBQ Ribs', 'Clam Chowder', 'Root Beer', 'Milkshake', 'Iced Coffee']
}

In [5]:
Gender = ['Female', 'Male'] 
weighted_probability = [0.54, 0.46]  

selected_genders = [] 
for _ in range(10000):
    chosen_Gender = random.choices(Gender, weights=weighted_probability)[0]
    selected_genders.append(chosen_Gender) 

df_test = pd.DataFrame()
df_test['Gender'] = selected_genders 

df_test

      Gender
0     Female
1       Male
2       Male
3     Female
4     Female
...      ...
9995  Female
9996    Male
9997  Female
9998    Male
9999    Male

[10000 rows x 1 columns]

In [6]:
# Create the Age column
age_categories = [(13, 17), (18, 24), (25, 34), (35, 44), (45, 54), (55, 70)]
probabilities = [0.05, 0.2, 0.28, 0.24, 0.15, 0.08]  # Adjust these values based on your statistics

# Generate the ages
ages = []
for _ in range(num_records):
    age_category = random.choices(age_categories, probabilities)[0]
    ages.append(random.randint(*age_category))

# Add the Age column
df_test['Age'] = ages

df_test

      Gender  Age
0     Female   21
1       Male   46
2       Male   20
3     Female   24
4     Female   39
...      ...  ...
9995  Female   24
9996    Male   15
9997  Female   41
9998    Male   65
9999    Male   53

[10000 rows x 2 columns]

In [7]:
# Define meal types and their hypothetical probabilities
Meal = ['Lunch', 'Dinner', 'Breakfast']
meal_probabilities = [0.46, 0.39, 0.15] 
# Generate Meals
meals = []
for _ in range(num_records):
    chosen_meal = random.choices(Meal, meal_probabilities)[0]
    meals.append(chosen_meal)

# Add the Meals column
df_test['Meal'] = meals

df_test

      Gender  Age       Meal
0     Female   21     Dinner
1       Male   46      Lunch
2       Male   20     Dinner
3     Female   24  Breakfast
4     Female   39     Dinner
...      ...  ...        ...
9995  Female   24      Lunch
9996    Male   15     Dinner
9997  Female   41      Lunch
9998    Male   65      Lunch
9999    Male   53      Lunch

[10000 rows x 3 columns]

In [8]:
# Define meal types and their hypothetical probabilities
Residence_in_busy_location = ['Yes','No']
Res_probabilities = [0.63,0.37] 
# Generate Res
Res = []
for _ in range(num_records):
    chosen_res = random.choices(Residence_in_busy_location, Res_probabilities)[0]
    Res.append(chosen_res)

# Add the Res column
df_test['Residence_in_busy_location'] = Res

df_test

      Gender  Age       Meal Residence_in_busy_location
0     Female   21     Dinner                         No
1       Male   46      Lunch                        Yes
2       Male   20     Dinner                        Yes
3     Female   24  Breakfast                         No
4     Female   39     Dinner                        Yes
...      ...  ...        ...                        ...
9995  Female   24      Lunch                        Yes
9996    Male   15     Dinner                         No
9997  Female   41      Lunch                         No
9998    Male   65      Lunch                        Yes
9999    Male   53      Lunch                        Yes

[10000 rows x 4 columns]

In [9]:
# Define meal types and their hypothetical probabilities
Google_maps_accuracy = ['Yes','No']
map_probabilities = [0.573,0.427] 
# Generate Google
Google = []
for _ in range(num_records):
    chosen_maps = random.choices(Google_maps_accuracy,map_probabilities)[0]
    Google.append(chosen_maps)

# Add the Gmaps column
df_test['Google_maps_accuracy'] = Google

df_test

      Gender  Age       Meal Residence_in_busy_location Google_maps_accuracy
0     Female   21     Dinner                         No                   No
1       Male   46      Lunch                        Yes                   No
2       Male   20     Dinner                        Yes                  Yes
3     Female   24  Breakfast                         No                  Yes
4     Female   39     Dinner                        Yes                   No
...      ...  ...        ...                        ...                  ...
9995  Female   24      Lunch                        Yes                  Yes
9996    Male   15     Dinner                         No                  Yes
9997  Female   41      Lunch                         No                  Yes
9998    Male   65      Lunch                        Yes                  Yes
9999    Male   53      Lunch                        Yes                  Yes

[10000 rows x 5 columns]

In [10]:
cuisine = ['Italian', 'Mexican', 'Chinese', 'Thai', 'Indian', 'Japanese', 'Greek']
cuisine_probabilities = [0.27,0.06,0.22,0.13,0.16,0.075,0.085]

Cuisine = []
for _ in range(num_records):
    chosen_cuisine = random.choices(cuisine,cuisine_probabilities)[0]
    Cuisine.append(chosen_cuisine)

# Add the cuisine column
df_test['Cuisine'] = Cuisine

df_test

,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine
0,Female,21,Dinner,No,No,Italian
1,Male,46,Lunch,Yes,No,Thai
2,Male,20,Dinner,Yes,Yes,Indian
3,Female,24,Breakfast,No,Yes,Italian
4,Female,39,Dinner,Yes,No,Italian
...,...,...,...,...,...,...
9995,Female,24,Lunch,Yes,Yes,Indian
9996,Male,15,Dinner,No,Yes,Chinese
9997,Female,41,Lunch,No,Yes,Mexican
9998,Male,65,Lunch,Yes,Yes,Indian
9999,Male,53,Lunch,Yes,Yes,Japanese

In [11]:
Item = []
for cuisine in df_test['Cuisine']:
    chosen_item = random.choice(Item_name[cuisine])
    Item.append(chosen_item)

df_test["Item"] = Item

df_test

,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item
0,Female,21,Dinner,No,No,Italian,Risotto
1,Male,46,Lunch,Yes,No,Thai,Spring Roll
2,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken
3,Female,24,Breakfast,No,Yes,Italian,Gelato
4,Female,39,Dinner,Yes,No,Italian,Risotto
...,...,...,...,...,...,...,...
9995,Female,24,Lunch,Yes,Yes,Indian,Lassi
9996,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken
9997,Female,41,Lunch,No,Yes,Mexican,Michelada
9998,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken
9999,Male,53,Lunch,Yes,Yes,Japanese,Sake

In [12]:
Good_Road_condition = ['Yes', 'No']
grc_probabilities = [0.67,0.33]

grc = []
for _ in range(num_records):
    chosen_road = random.choices(Good_Road_condition,grc_probabilities)[0]
    grc.append(chosen_road)

# Add the Road column
df_test['Good_road_condition'] = grc

df_test

,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition
0,Female,21,Dinner,No,No,Italian,Risotto,Yes
1,Male,46,Lunch,Yes,No,Thai,Spring Roll,No
2,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes
3,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes
4,Female,39,Dinner,Yes,No,Italian,Risotto,Yes
...,...,...,...,...,...,...,...,...
9995,Female,24,Lunch,Yes,Yes,Indian,Lassi,No
9996,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No
9997,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes
9998,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No
9999,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes

In [13]:
hot_items = ['Pasta', 'Pizza', 'Lasagna', 'Risotto', 'Burrito', 'Tacos', 'Enchiladas', 'Chiles Rellenos', 'Hot pot', 'Noodles', 'Dumpling', 'Peking Duck', 'Kung Pao Chicken', 'Hot Soup', 'Pad Thai', 'Green Curry', 'Butter Chicken', 'Palak Paneer', 'Biryani', 'Tandoori Chicken', 'Masala Chai', 'Sushi', 'Ramen', 'Tempura', 'Udon', 'Moussaka', 'Souvlaki', 'Burger', 'Fries', 'Steak', 'BBQ Ribs', 'Clam Chowder']
cold_items = ['Tiramisu', 'Gelato', 'Prosecco', 'Limoncello', 'Margerita', 'Horchata', 'Michelada', 'Tequila', 'Bubble Tea', 'Jasmine Tea', 'Soy Milk', 'Spring Roll', 'Thai Iced Tea', 'Coconut Water', 'Lassi', 'Cake', 'Sake', 'Matcha Tea', 'Ramune Soda', 'Ice-cream', 'Ouzo', 'Greek Coffee', 'Mythos Beer', 'Coke', 'Root Beer', 'Milkshake', 'Iced Coffee']

Temperature = ['Room','Hot','Cold']
hot_food_probabilities = [0.33,0.47,0.20]
cold_food_probabilities = [0.15,0.28,0.57]

# Function to assign delivered temperature (modified)
def assign_delivered_temperature(row):
    if row['Item'] in hot_items:
        return random.choices(Temperature, hot_food_probabilities)[0]
    elif row['Item'] in cold_items:
        return random.choices(Temperature, cold_food_probabilities)[0]
    else:  
        return random.choice(Temperature) 

# Create the new column
df_test["Delivered_temperature"] = df_test.apply(assign_delivered_temperature, axis=1)

df_test

,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,Delivered_temperature
0,Female,21,Dinner,No,No,Italian,Risotto,Yes,Hot
1,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,Cold
2,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,Cold
3,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,Cold
4,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,Cold
...,...,...,...,...,...,...,...,...,...
9995,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,Cold
9996,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,Hot
9997,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,Hot
9998,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,Room
9999,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,Cold

In [14]:
Location =['Urban','Rural','Subarban']
loc_probabilities = [0.62,0.13,0.25]

loc = []
for _ in range(num_records):
    chosen_road = random.choices(Location,loc_probabilities)[0]
    loc.append(chosen_road)

# Add the Location column
df_test['Location'] = loc

df_test

,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,Delivered_temperature,Location
0,Female,21,Dinner,No,No,Italian,Risotto,Yes,Hot,Urban
1,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,Cold,Subarban
2,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,Cold,Urban
3,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,Cold,Urban
4,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,Cold,Subarban
...,...,...,...,...,...,...,...,...,...,...
9995,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,Cold,Urban
9996,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,Hot,Urban
9997,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,Hot,Rural
9998,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,Room,Urban
9999,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,Cold,Rural

In [15]:
Customer_class_subscription = ['Free','Basic','Premium','Monthly Basic','Monthly Premium']
sub_probabilities = [0.37,0.22,0.13,0.17,0.11]

sub = []
for _ in range(num_records):
    chosen_sub = random.choices(Customer_class_subscription,sub_probabilities)[0]
    sub.append(chosen_sub)

# Add the Location column
df_test['Subscription'] = sub

df_test

,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,Delivered_temperature,Location,Subscription
0,Female,21,Dinner,No,No,Italian,Risotto,Yes,Hot,Urban,Free
1,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,Cold,Subarban,Free
2,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,Cold,Urban,Monthly Basic
3,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,Cold,Urban,Free
4,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,Cold,Subarban,Free
...,...,...,...,...,...,...,...,...,...,...,...
9995,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,Cold,Urban,Free
9996,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,Hot,Urban,Free
9997,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,Hot,Rural,Monthly Basic
9998,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,Room,Urban,Premium
9999,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,Cold,Rural,Free

In [16]:
# Define the cost for each subscription type
subscription_costs = {
    'Free': 0,
    'Basic': 50.9,
    'Premium': 101.9,
    'Monthly Basic': 4.99,
    'Monthly Premium': 9.99
}

# Add the 'Subscription Cost' column
df_test['Subscription Cost'] = df_test['Subscription'].map(subscription_costs)

df_test

,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,Delivered_temperature,Location,Subscription,Subscription Cost
0,Female,21,Dinner,No,No,Italian,Risotto,Yes,Hot,Urban,Free,0.00
1,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,Cold,Subarban,Free,0.00
2,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,Cold,Urban,Monthly Basic,4.99
3,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,Cold,Urban,Free,0.00
4,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,Cold,Subarban,Free,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,Cold,Urban,Free,0.00
9996,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,Hot,Urban,Free,0.00
9997,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,Hot,Rural,Monthly Basic,4.99
9998,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,Room,Urban,Premium,101.90
9999,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,Cold,Rural,Free,0.00

In [17]:
Mode = ['Car','Bike']
mode_probabilities = [0.68,0.32]

mode = []
for _ in range(num_records):
    chosen_mode = random.choices(Mode,mode_probabilities)[0]
    mode.append(chosen_mode)

# Add the Location column
df_test['Mode'] = mode

df_test

,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,Delivered_temperature,Location,Subscription,Subscription Cost,Mode
0,Female,21,Dinner,No,No,Italian,Risotto,Yes,Hot,Urban,Free,0.00,Car
1,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,Cold,Subarban,Free,0.00,Car
2,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,Cold,Urban,Monthly Basic,4.99,Bike
3,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,Cold,Urban,Free,0.00,Car
4,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,Cold,Subarban,Free,0.00,Bike
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,Cold,Urban,Free,0.00,Bike
9996,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,Hot,Urban,Free,0.00,Bike
9997,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,Hot,Rural,Monthly Basic,4.99,Car
9998,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,Room,Urban,Premium,101.90,Car
9999,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,Cold,Rural,Free,0.00,Car

In [18]:
Quantity_size = ['Small','Large','Medium']
size_probabilities = [0.43,0.24,0.33]

size = []
for _ in range(num_records):
    chosen_qsize = random.choices(Quantity_size,size_probabilities)[0]
    size.append(chosen_qsize)

# Add the Location column
df_test['Quantity_size'] = size

df_test

,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,Delivered_temperature,Location,Subscription,Subscription Cost,Mode,Quantity_size
0,Female,21,Dinner,No,No,Italian,Risotto,Yes,Hot,Urban,Free,0.00,Car,Small
1,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,Cold,Subarban,Free,0.00,Car,Large
2,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,Cold,Urban,Monthly Basic,4.99,Bike,Medium
3,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,Cold,Urban,Free,0.00,Car,Large
4,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,Cold,Subarban,Free,0.00,Bike,Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,Cold,Urban,Free,0.00,Bike,Small
9996,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,Hot,Urban,Free,0.00,Bike,Large
9997,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,Hot,Rural,Monthly Basic,4.99,Car,Small
9998,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,Room,Urban,Premium,101.90,Car,Large
9999,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,Cold,Rural,Free,0.00,Car,Small

In [19]:
# Create a set to store the generated IDs
ids = set()

# Generate unique IDs until we have enough
while len(ids) < num_records:
    ids.add(random.randint(10000, 99999))

# Create an empty DataFrame
df1 = pd.DataFrame()

# Create the Customer ID column
df1['Order_ID'] = list(ids)

df1

      Order_ID
0        98308
1        65541
2        98309
3        65545
4        65548
...        ...
9995     32749
9996     98286
9997     32763
9998     32765
9999     65534

[10000 rows x 1 columns]

In [20]:
# Function to generate name based on gender
def generate_name(gender):
    if gender == 'Male':
        return names.get_full_name(gender='male')
    elif gender == 'Female':
        return names.get_full_name(gender='female')
    else:
        return names.get_full_name()  # for non-binary or unknown genders

# Apply the function to the gender column to create a new names column
df1['Customer_name'] = df_test['Gender'].apply(generate_name)

df1

      Order_ID     Customer_name
0        98308  Margaret Wibbens
1        65541    Peter Delacruz
2        98309    Beau Valentine
3        65545   Sherill Galindo
4        65548     Jane Cottrell
...        ...               ...
9995     32749     Rhonda Henley
9996     98286    Jeffery Bolton
9997     32763     Ellen Garrett
9998     32765       Allen Rhine
9999     65534      Ian Portales

[10000 rows x 2 columns]

In [21]:
df = pd.concat([df1,df_test], axis = 1)

df

,Order_ID,Customer_name,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,Delivered_temperature,Location,Subscription,Subscription Cost,Mode,Quantity_size
0,98308,Margaret Wibbens,Female,21,Dinner,No,No,Italian,Risotto,Yes,Hot,Urban,Free,0.00,Car,Small
1,65541,Peter Delacruz,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,Cold,Subarban,Free,0.00,Car,Large
2,98309,Beau Valentine,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,Cold,Urban,Monthly Basic,4.99,Bike,Medium
3,65545,Sherill Galindo,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,Cold,Urban,Free,0.00,Car,Large
4,65548,Jane Cottrell,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,Cold,Subarban,Free,0.00,Bike,Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,32749,Rhonda Henley,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,Cold,Urban,Free,0.00,Bike,Small
9996,98286,Jeffery Bolton,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,Hot,Urban,Free,0.00,Bike,Large
9997,32763,Ellen Garrett,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,Hot,Rural,Monthly Basic,4.99,Car,Small
9998,32765,Allen Rhine,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,Room,Urban,Premium,101.90,Car,Large
9999,65534,Ian Portales,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,Cold,Rural,Free,0.00,Car,Small

In [22]:
# Define a function to determine the taste based on item and temperature
def determine_taste(row):
    hot_items = ['Pasta', 'Pizza', 'Lasagna', 'Risotto', 'Burrito', 'Tacos', 'Enchiladas', 'Chiles Rellenos', 'Hot pot', 'Noodles', 'Dumpling', 'Peking Duck', 'Kung Pao Chicken', 'Hot Soup', 'Pad Thai', 'Green Curry', 'Butter Chicken', 'Palak Paneer', 'Biryani', 'Tandoori Chicken', 'Masala Chai', 'Sushi', 'Ramen', 'Tempura', 'Udon', 'Moussaka', 'Souvlaki', 'Burger', 'Fries', 'Steak', 'BBQ Ribs', 'Clam Chowder']
    cold_items = ['Tiramisu', 'Gelato', 'Prosecco', 'Limoncello', 'Margerita', 'Horchata', 'Michelada', 'Tequila', 'Bubble Tea', 'Jasmine Tea', 'Soy Milk', 'Spring Roll', 'Thai Iced Tea', 'Coconut Water', 'Lassi', 'Cake', 'Sake', 'Matcha Tea', 'Ramune Soda', 'Ice-cream', 'Ouzo', 'Greek Coffee', 'Mythos Beer', 'Coke', 'Root Beer', 'Milkshake', 'Iced Coffee']
    
    if row['Delivered_temperature'] == 'Cold' and row['Item'] in hot_items:
        return 'Low'
    elif row['Delivered_temperature'] == 'room' and row['Item'] in hot_items:
        return 'Moderate'
    elif row['Delivered_temperature'] == 'Room' and row['Item'] in cold_items:
        return 'Low'
    elif row['Delivered_temperature'] == 'Hot' and row['Item'] in cold_items:
        return 'Low'
    
    else:
        return 'High'

# Apply the function to the DataFrame
df['Freshness'] = df.apply(determine_taste, axis=1)

df

,Order_ID,Customer_name,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,Delivered_temperature,Location,Subscription,Subscription Cost,Mode,Quantity_size,Freshness
0,98308,Margaret Wibbens,Female,21,Dinner,No,No,Italian,Risotto,Yes,Hot,Urban,Free,0.00,Car,Small,High
1,65541,Peter Delacruz,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,Cold,Subarban,Free,0.00,Car,Large,High
2,98309,Beau Valentine,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,Cold,Urban,Monthly Basic,4.99,Bike,Medium,Low
3,65545,Sherill Galindo,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,Cold,Urban,Free,0.00,Car,Large,High
4,65548,Jane Cottrell,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,Cold,Subarban,Free,0.00,Bike,Large,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,32749,Rhonda Henley,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,Cold,Urban,Free,0.00,Bike,Small,High
9996,98286,Jeffery Bolton,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,Hot,Urban,Free,0.00,Bike,Large,High
9997,32763,Ellen Garrett,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,Hot,Rural,Monthly Basic,4.99,Car,Small,Low
9998,32765,Allen Rhine,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,Room,Urban,Premium,101.90,Car,Large,High
9999,65534,Ian Portales,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,Cold,Rural,Free,0.00,Car,Small,High

In [23]:
# Define a function to determine the taste based on freshness
def determine_good_taste(row):
    if row['Freshness'] == 'Low':
        return 'Bad'
    elif row['Freshness'] == 'Moderate':
        return 'Average'
    else:
        return 'Good'

# Apply the function to the DataFrame
df['Food_quality'] = df.apply(determine_good_taste, axis=1)

df

,Order_ID,Customer_name,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,Delivered_temperature,Location,Subscription,Subscription Cost,Mode,Quantity_size,Freshness,Food_quality
0,98308,Margaret Wibbens,Female,21,Dinner,No,No,Italian,Risotto,Yes,Hot,Urban,Free,0.00,Car,Small,High,Good
1,65541,Peter Delacruz,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,Cold,Subarban,Free,0.00,Car,Large,High,Good
2,98309,Beau Valentine,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,Cold,Urban,Monthly Basic,4.99,Bike,Medium,Low,Bad
3,65545,Sherill Galindo,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,Cold,Urban,Free,0.00,Car,Large,High,Good
4,65548,Jane Cottrell,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,Cold,Subarban,Free,0.00,Bike,Large,Low,Bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,32749,Rhonda Henley,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,Cold,Urban,Free,0.00,Bike,Small,High,Good
9996,98286,Jeffery Bolton,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,Hot,Urban,Free,0.00,Bike,Large,High,Good
9997,32763,Ellen Garrett,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,Hot,Rural,Monthly Basic,4.99,Car,Small,Low,Bad
9998,32765,Allen Rhine,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,Room,Urban,Premium,101.90,Car,Large,High,Good
9999,65534,Ian Portales,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,Cold,Rural,Free,0.00,Car,Small,High,Good

In [24]:
# Define your order count array
order_count = [903, 851, 829, 801, 779, 761, 739, 671, 859, 881, 953, 973]

# Random date generation function
def random_date(start, end):
    return start + timedelta(
        seconds=random.randint(0, int((end - start).total_seconds())))

# Define the start and end dates
start = datetime(2023, 1, 1)
end = datetime(2024, 1, 1)

# Generate the DataFrame
dates = []
for month, count in enumerate(order_count):  # Iterate over months and counts
    start_month = start.replace(month=month + 1)  
    if month == 11:  # Adjust for December
        end_month = end
    else:
        end_month = start.replace(month=month + 2)
    for _ in range(count):   # Generate the specified number of rows for each month 
        dates.append(random_date(start_month, end_month))

# Create the new DataFrame
new_df = pd.DataFrame({
    'Customer Placed Order time': dates
})

# Assuming you have an existing DataFrame called 'df' 
# Concatenate the new DataFrame with the existing one
df = pd.concat([df, new_df], axis=1)

# Display the combined DataFrame
df

,Order_ID,Customer_name,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,Delivered_temperature,Location,Subscription,Subscription Cost,Mode,Quantity_size,Freshness,Food_quality,Customer Placed Order time
0,98308,Margaret Wibbens,Female,21,Dinner,No,No,Italian,Risotto,Yes,Hot,Urban,Free,0.00,Car,Small,High,Good,2023-01-21 12:27:43
1,65541,Peter Delacruz,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,Cold,Subarban,Free,0.00,Car,Large,High,Good,2023-01-02 06:23:20
2,98309,Beau Valentine,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,Cold,Urban,Monthly Basic,4.99,Bike,Medium,Low,Bad,2023-01-23 07:00:30
3,65545,Sherill Galindo,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,Cold,Urban,Free,0.00,Car,Large,High,Good,2023-01-07 12:19:13
4,65548,Jane Cottrell,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,Cold,Subarban,Free,0.00,Bike,Large,Low,Bad,2023-01-23 01:41:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,32749,Rhonda Henley,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,Cold,Urban,Free,0.00,Bike,Small,High,Good,2023-12-01 22:41:52
9996,98286,Jeffery Bolton,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,Hot,Urban,Free,0.00,Bike,Large,High,Good,2023-12-30 02:12:50
9997,32763,Ellen Garrett,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,Hot,Rural,Monthly Basic,4.99,Car,Small,Low,Bad,2023-12-21 12:56:42
9998,32765,Allen Rhine,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,Room,Urban,Premium,101.90,Car,Large,High,Good,2023-12-05 23:27:01
9999,65534,Ian Portales,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,Cold,Rural,Free,0.00,Car,Small,High,Good,2023-12-12 01:08:55

In [25]:
def order_accepted_time(row):
    # Get the placed time
    placed_time = row['Customer Placed Order time']

    # Add a random delay of 2 to 5 minutes
    accepted_time = placed_time + timedelta(minutes=random.randint(2, 5), seconds=random.randint(0, 59))

    return accepted_time

# Apply the function to the DataFrame
df['Order Accepted by Restaurant time'] = df.apply(order_accepted_time, axis=1)

df

,Order_ID,Customer_name,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,Delivered_temperature,Location,Subscription,Subscription Cost,Mode,Quantity_size,Freshness,Food_quality,Customer Placed Order time,Order Accepted by Restaurant time
0,98308,Margaret Wibbens,Female,21,Dinner,No,No,Italian,Risotto,Yes,Hot,Urban,Free,0.00,Car,Small,High,Good,2023-01-21 12:27:43,2023-01-21 12:29:45
1,65541,Peter Delacruz,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,Cold,Subarban,Free,0.00,Car,Large,High,Good,2023-01-02 06:23:20,2023-01-02 06:26:09
2,98309,Beau Valentine,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,Cold,Urban,Monthly Basic,4.99,Bike,Medium,Low,Bad,2023-01-23 07:00:30,2023-01-23 07:04:07
3,65545,Sherill Galindo,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,Cold,Urban,Free,0.00,Car,Large,High,Good,2023-01-07 12:19:13,2023-01-07 12:23:19
4,65548,Jane Cottrell,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,Cold,Subarban,Free,0.00,Bike,Large,Low,Bad,2023-01-23 01:41:16,2023-01-23 01:44:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,32749,Rhonda Henley,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,Cold,Urban,Free,0.00,Bike,Small,High,Good,2023-12-01 22:41:52,2023-12-01 22:47:26
9996,98286,Jeffery Bolton,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,Hot,Urban,Free,0.00,Bike,Large,High,Good,2023-12-30 02:12:50,2023-12-30 02:16:16
9997,32763,Ellen Garrett,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,Hot,Rural,Monthly Basic,4.99,Car,Small,Low,Bad,2023-12-21 12:56:42,2023-12-21 13:02:02
9998,32765,Allen Rhine,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,Room,Urban,Premium,101.90,Car,Large,High,Good,2023-12-05 23:27:01,2023-12-05 23:30:59
9999,65534,Ian Portales,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,Cold,Rural,Free,0.00,Car,Small,High,Good,2023-12-12 01:08:55,2023-12-12 01:12:56

In [26]:
def Driver_at_Restaurant_Datetime(row):
    # Get the order accepted time
    order_accepted_time = row['Order Accepted by Restaurant time']

    # Add a random delay of 7 to 10 minutes
    driver_time = order_accepted_time + timedelta(minutes=random.randint(7, 10), seconds=random.randint(0, 59))

    return driver_time

# Apply the function to the DataFrame
df['Driver at Restaurant Datetime'] = df.apply(Driver_at_Restaurant_Datetime, axis=1)

df

,Order_ID,Customer_name,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,...,Location,Subscription,Subscription Cost,Mode,Quantity_size,Freshness,Food_quality,Customer Placed Order time,Order Accepted by Restaurant time,Driver at Restaurant Datetime
0,98308,Margaret Wibbens,Female,21,Dinner,No,No,Italian,Risotto,Yes,...,Urban,Free,0.00,Car,Small,High,Good,2023-01-21 12:27:43,2023-01-21 12:29:45,2023-01-21 12:37:39
1,65541,Peter Delacruz,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,...,Subarban,Free,0.00,Car,Large,High,Good,2023-01-02 06:23:20,2023-01-02 06:26:09,2023-01-02 06:33:55
2,98309,Beau Valentine,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,...,Urban,Monthly Basic,4.99,Bike,Medium,Low,Bad,2023-01-23 07:00:30,2023-01-23 07:04:07,2023-01-23 07:14:26
3,65545,Sherill Galindo,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,...,Urban,Free,0.00,Car,Large,High,Good,2023-01-07 12:19:13,2023-01-07 12:23:19,2023-01-07 12:32:09
4,65548,Jane Cottrell,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,...,Subarban,Free,0.00,Bike,Large,Low,Bad,2023-01-23 01:41:16,2023-01-23 01:44:17,2023-01-23 01:55:12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,32749,Rhonda Henley,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,...,Urban,Free,0.00,Bike,Small,High,Good,2023-12-01 22:41:52,2023-12-01 22:47:26,2023-12-01 22:58:06
9996,98286,Jeffery Bolton,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,...,Urban,Free,0.00,Bike,Large,High,Good,2023-12-30 02:12:50,2023-12-30 02:16:16,2023-12-30 02:25:17
9997,32763,Ellen Garrett,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,...,Rural,Monthly Basic,4.99,Car,Small,Low,Bad,2023-12-21 12:56:42,2023-12-21 13:02:02,2023-12-21 13:11:31
9998,32765,Allen Rhine,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,...,Urban,Premium,101.90,Car,Large,High,Good,2023-12-05 23:27:01,2023-12-05 23:30:59,2023-12-05 23:38:17
9999,65534,Ian Portales,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,...,Rural,Free,0.00,Car,Small,High,Good,2023-12-12 01:08:55,2023-12-12 01:12:56,2023-12-12 01:23:05

In [27]:
def Delivered_to_Consumer_Datetime(row):
    # Get the driver at restaurant time
    driver_at_restaurant_time = row['Driver at Restaurant Datetime']

    # Add a random delay of 10 to 15 minutes
    deliver_time = driver_at_restaurant_time + timedelta(minutes=random.randint(10, 15), seconds=random.randint(0, 59))

    return deliver_time

# Apply the function to the DataFrame
df['Delivered to Consumer Datetime'] = df.apply(Delivered_to_Consumer_Datetime, axis=1)

df

,Order_ID,Customer_name,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,...,Subscription,Subscription Cost,Mode,Quantity_size,Freshness,Food_quality,Customer Placed Order time,Order Accepted by Restaurant time,Driver at Restaurant Datetime,Delivered to Consumer Datetime
0,98308,Margaret Wibbens,Female,21,Dinner,No,No,Italian,Risotto,Yes,...,Free,0.00,Car,Small,High,Good,2023-01-21 12:27:43,2023-01-21 12:29:45,2023-01-21 12:37:39,2023-01-21 12:52:09
1,65541,Peter Delacruz,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,...,Free,0.00,Car,Large,High,Good,2023-01-02 06:23:20,2023-01-02 06:26:09,2023-01-02 06:33:55,2023-01-02 06:44:27
2,98309,Beau Valentine,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,...,Monthly Basic,4.99,Bike,Medium,Low,Bad,2023-01-23 07:00:30,2023-01-23 07:04:07,2023-01-23 07:14:26,2023-01-23 07:27:49
3,65545,Sherill Galindo,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,...,Free,0.00,Car,Large,High,Good,2023-01-07 12:19:13,2023-01-07 12:23:19,2023-01-07 12:32:09,2023-01-07 12:43:18
4,65548,Jane Cottrell,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,...,Free,0.00,Bike,Large,Low,Bad,2023-01-23 01:41:16,2023-01-23 01:44:17,2023-01-23 01:55:12,2023-01-23 02:10:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,32749,Rhonda Henley,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,...,Free,0.00,Bike,Small,High,Good,2023-12-01 22:41:52,2023-12-01 22:47:26,2023-12-01 22:58:06,2023-12-01 23:10:23
9996,98286,Jeffery Bolton,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,...,Free,0.00,Bike,Large,High,Good,2023-12-30 02:12:50,2023-12-30 02:16:16,2023-12-30 02:25:17,2023-12-30 02:37:57
9997,32763,Ellen Garrett,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,...,Monthly Basic,4.99,Car,Small,Low,Bad,2023-12-21 12:56:42,2023-12-21 13:02:02,2023-12-21 13:11:31,2023-12-21 13:25:33
9998,32765,Allen Rhine,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,...,Premium,101.90,Car,Large,High,Good,2023-12-05 23:27:01,2023-12-05 23:30:59,2023-12-05 23:38:17,2023-12-05 23:49:51
9999,65534,Ian Portales,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,...,Free,0.00,Car,Small,High,Good,2023-12-12 01:08:55,2023-12-12 01:12:56,2023-12-12 01:23:05,2023-12-12 01:34:29

In [28]:
def calculate_wait_time(row):
    # Get the order time and delivery time
    order_time = row['Customer Placed Order time']
    delivery_time = row['Delivered to Consumer Datetime']

    # Calculate the difference in minutes
    wait_time_in_minutes = int((delivery_time - order_time).total_seconds() // 60)

    return wait_time_in_minutes

# Apply the function to the DataFrame
df["Wait Time in minutes"] = df.apply(calculate_wait_time, axis=1)

df

,Order_ID,Customer_name,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,...,Subscription Cost,Mode,Quantity_size,Freshness,Food_quality,Customer Placed Order time,Order Accepted by Restaurant time,Driver at Restaurant Datetime,Delivered to Consumer Datetime,Wait Time in minutes
0,98308,Margaret Wibbens,Female,21,Dinner,No,No,Italian,Risotto,Yes,...,0.00,Car,Small,High,Good,2023-01-21 12:27:43,2023-01-21 12:29:45,2023-01-21 12:37:39,2023-01-21 12:52:09,24
1,65541,Peter Delacruz,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,...,0.00,Car,Large,High,Good,2023-01-02 06:23:20,2023-01-02 06:26:09,2023-01-02 06:33:55,2023-01-02 06:44:27,21
2,98309,Beau Valentine,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,...,4.99,Bike,Medium,Low,Bad,2023-01-23 07:00:30,2023-01-23 07:04:07,2023-01-23 07:14:26,2023-01-23 07:27:49,27
3,65545,Sherill Galindo,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,...,0.00,Car,Large,High,Good,2023-01-07 12:19:13,2023-01-07 12:23:19,2023-01-07 12:32:09,2023-01-07 12:43:18,24
4,65548,Jane Cottrell,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,...,0.00,Bike,Large,Low,Bad,2023-01-23 01:41:16,2023-01-23 01:44:17,2023-01-23 01:55:12,2023-01-23 02:10:18,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,32749,Rhonda Henley,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,...,0.00,Bike,Small,High,Good,2023-12-01 22:41:52,2023-12-01 22:47:26,2023-12-01 22:58:06,2023-12-01 23:10:23,28
9996,98286,Jeffery Bolton,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,...,0.00,Bike,Large,High,Good,2023-12-30 02:12:50,2023-12-30 02:16:16,2023-12-30 02:25:17,2023-12-30 02:37:57,25
9997,32763,Ellen Garrett,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,...,4.99,Car,Small,Low,Bad,2023-12-21 12:56:42,2023-12-21 13:02:02,2023-12-21 13:11:31,2023-12-21 13:25:33,28
9998,32765,Allen Rhine,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,...,101.90,Car,Large,High,Good,2023-12-05 23:27:01,2023-12-05 23:30:59,2023-12-05 23:38:17,2023-12-05 23:49:51,22
9999,65534,Ian Portales,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,...,0.00,Car,Small,High,Good,2023-12-12 01:08:55,2023-12-12 01:12:56,2023-12-12 01:23:05,2023-12-12 01:34:29,25

In [29]:
# Define the price ranges for each item
price_ranges = {
    'Pasta': (8, 25),
    'Pizza': (10, 30),
    'Tiramisu': (7, 16),
    'Lasagna': (12, 20),
    'Risotto': (10, 25),
    'Gelato': (1, 3),
    'Prosecco': (10, 30),
    'Limoncello': (13, 24),
    'Burrito': (6, 12),
    'Tacos': (2, 4),
    'Margerita': (5, 15),
    'Enchiladas': (8, 16),
    'Chiles Rellenos': (8, 14),
    'Horchata': (3, 5),
    'Michelada': (5, 15),
    'Tequila': (5, 15),
    'Hot pot': (20, 50),
    'Noodles': (8, 14),
    'Dumpling': (6, 10),
    'Peking Duck': (20, 40),
    'Kung Pao Chicken': (10, 20),
    'Bubble Tea': (3, 5),
    'Jasmine Tea': (3, 5),
    'Soy Milk': (2, 4),
    'Hot Soup': (5, 10),
    'Spring Roll': (4, 8),
    'Pad Thai': (8, 14),
    'Green Curry': (8, 14),
    'Thai Iced Tea': (3, 5),
    'Coconut Water': (2, 4),
    'Butter Chicken': (10, 20),
    'Palak Paneer': (8, 16),
    'Biryani': (10, 20),
    'Tandoori Chicken': (10, 20),
    'Lassi': (3, 5),
    'Masala Chai': (2, 4),
    'Sushi': (5, 25),
    'Cake': (3, 7),
    'Ramen': (10, 20),
    'Tempura': (10, 20),
    'Udon': (8, 14),
    'Sake': (5, 15),
    'Matcha Tea': (3, 5),
    'Ramune Soda': (2, 4),
    'Ice-cream': (3, 5),
    'Moussaka': (10, 20),
    'Souvlaki': (8, 16),
    'Ouzo': (20, 40),
    'Greek Coffee': (2, 4),
    'Mythos Beer': (4, 6),
    'Burger': (5, 15),
    'Fries': (2, 4),
    'Steak': (15, 50),
    'Coke': (1, 3),
    'BBQ Ribs': (15, 30),
    'Clam Chowder': (5, 10),
    'Root Beer': (2, 4),
    'Milkshake': (3, 6),
    'Iced Coffee': (3, 5)
}



def generate_meal_price(row):
    # Get the price range for the item
    price_range = price_ranges[row['Item']]
    # Generate a random price within the range
    price = random.uniform(price_range[0], price_range[1])
    return round(price, 2)

# Apply the function to the DataFrame
df['Meal Price'] = df.apply(generate_meal_price, axis=1)

df

,Order_ID,Customer_name,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,...,Mode,Quantity_size,Freshness,Food_quality,Customer Placed Order time,Order Accepted by Restaurant time,Driver at Restaurant Datetime,Delivered to Consumer Datetime,Wait Time in minutes,Meal Price
0,98308,Margaret Wibbens,Female,21,Dinner,No,No,Italian,Risotto,Yes,...,Car,Small,High,Good,2023-01-21 12:27:43,2023-01-21 12:29:45,2023-01-21 12:37:39,2023-01-21 12:52:09,24,22.07
1,65541,Peter Delacruz,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,...,Car,Large,High,Good,2023-01-02 06:23:20,2023-01-02 06:26:09,2023-01-02 06:33:55,2023-01-02 06:44:27,21,4.49
2,98309,Beau Valentine,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,...,Bike,Medium,Low,Bad,2023-01-23 07:00:30,2023-01-23 07:04:07,2023-01-23 07:14:26,2023-01-23 07:27:49,27,13.32
3,65545,Sherill Galindo,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,...,Car,Large,High,Good,2023-01-07 12:19:13,2023-01-07 12:23:19,2023-01-07 12:32:09,2023-01-07 12:43:18,24,2.23
4,65548,Jane Cottrell,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,...,Bike,Large,Low,Bad,2023-01-23 01:41:16,2023-01-23 01:44:17,2023-01-23 01:55:12,2023-01-23 02:10:18,29,10.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,32749,Rhonda Henley,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,...,Bike,Small,High,Good,2023-12-01 22:41:52,2023-12-01 22:47:26,2023-12-01 22:58:06,2023-12-01 23:10:23,28,4.19
9996,98286,Jeffery Bolton,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,...,Bike,Large,High,Good,2023-12-30 02:12:50,2023-12-30 02:16:16,2023-12-30 02:25:17,2023-12-30 02:37:57,25,14.03
9997,32763,Ellen Garrett,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,...,Car,Small,Low,Bad,2023-12-21 12:56:42,2023-12-21 13:02:02,2023-12-21 13:11:31,2023-12-21 13:25:33,28,6.37
9998,32765,Allen Rhine,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,...,Car,Large,High,Good,2023-12-05 23:27:01,2023-12-05 23:30:59,2023-12-05 23:38:17,2023-12-05 23:49:51,22,18.75
9999,65534,Ian Portales,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,...,Car,Small,High,Good,2023-12-12 01:08:55,2023-12-12 01:12:56,2023-12-12 01:23:05,2023-12-12 01:34:29,25,10.95

In [30]:
df['Order Quantity'] = [random.randint(1, 5) for _ in range(num_records)]
# For 'Premium' and 'Monthly Premium' subscriptions, set delivery fee to 0
df.loc[df['Subscription'].isin(['Premium', 'Monthly Premium']), 'delivery fee'] = 0

# For 'Basic' and 'Monthly Basic' subscriptions, set delivery fee to one of the options: 0.99, 1.99, 2.99
basic_options = [0.99, 1.99, 2.99]
basic_indices = df[df['Subscription'].isin(['Basic', 'Monthly Basic'])].index
for i in basic_indices:
    df.loc[i, 'delivery fee'] = random.choice(basic_options)

# For 'Free' subscriptions, set delivery fee to one of the options: 2.99, 3.99, 4.99, 5.99
free_options = [3.99, 4.99, 5.99]
free_probs = [0.5,0.3,0.2]
free_indices = df[df['Subscription'] == 'Free'].index
for i in free_indices:
    df.loc[i, 'delivery fee'] = random.choices(free_options,free_probs)[0]

df

,Order_ID,Customer_name,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,...,Food_quality,Customer Placed Order time,Order Accepted by Restaurant time,Driver at Restaurant Datetime,Delivered to Consumer Datetime,Wait Time in minutes,Meal Price,Order Quantity,delivery fee,Delivery fee
0,98308,Margaret Wibbens,Female,21,Dinner,No,No,Italian,Risotto,Yes,...,Good,2023-01-21 12:27:43,2023-01-21 12:29:45,2023-01-21 12:37:39,2023-01-21 12:52:09,24,22.07,1,NaN,4.99
1,65541,Peter Delacruz,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,...,Good,2023-01-02 06:23:20,2023-01-02 06:26:09,2023-01-02 06:33:55,2023-01-02 06:44:27,21,4.49,2,NaN,3.99
2,98309,Beau Valentine,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,...,Bad,2023-01-23 07:00:30,2023-01-23 07:04:07,2023-01-23 07:14:26,2023-01-23 07:27:49,27,13.32,4,2.99,NaN
3,65545,Sherill Galindo,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,...,Good,2023-01-07 12:19:13,2023-01-07 12:23:19,2023-01-07 12:32:09,2023-01-07 12:43:18,24,2.23,1,NaN,5.99
4,65548,Jane Cottrell,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,...,Bad,2023-01-23 01:41:16,2023-01-23 01:44:17,2023-01-23 01:55:12,2023-01-23 02:10:18,29,10.06,4,NaN,5.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,32749,Rhonda Henley,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,...,Good,2023-12-01 22:41:52,2023-12-01 22:47:26,2023-12-01 22:58:06,2023-12-01 23:10:23,28,4.19,1,NaN,4.99
9996,98286,Jeffery Bolton,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,...,Good,2023-12-30 02:12:50,2023-12-30 02:16:16,2023-12-30 02:25:17,2023-12-30 02:37:57,25,14.03,4,NaN,3.99
9997,32763,Ellen Garrett,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,...,Bad,2023-12-21 12:56:42,2023-12-21 13:02:02,2023-12-21 13:11:31,2023-12-21 13:25:33,28,6.37,5,0.99,NaN
9998,32765,Allen Rhine,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,...,Good,2023-12-05 23:27:01,2023-12-05 23:30:59,2023-12-05 23:38:17,2023-12-05 23:49:51,22,18.75,5,0.00,NaN
9999,65534,Ian Portales,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,...,Good,2023-12-12 01:08:55,2023-12-12 01:12:56,2023-12-12 01:23:05,2023-12-12 01:34:29,25,10.95,4,NaN,3.99

In [33]:
df['Total Price'] = df['Meal Price'] * df['Order Quantity']
df['Service Fee'] = df['Total Price']*0.11
df['Tax'] = df['Total Price'] *0.145
df['Final Price'] = df['Total Price'] + df['Service Fee'] + df['Tax'] + df['Delivery fee']
df['Number of Claims'] = [random.randint(1,20) for _ in range(len(df))]
df['Complaints Resolved'] = [random.randint(int(claim/1.5), claim) for claim in df['Number of Claims']]
df['Number of Open Complaints'] = df['Number of Claims'] - df['Complaints Resolved']
df['Amount of Refund for resolved complaint'] = df['Meal Price'] * df['Complaints Resolved'] + (df['Meal Price'] * df['Complaints Resolved'])*0.145
df.loc[df['Complaints Resolved'] == 0, 'Amount of Refund for resolved complaint'] = 0
df

,Order_ID,Customer_name,Gender,Age,Meal,Residence_in_busy_location,Google_maps_accuracy,Cuisine,Item,Good_road_condition,...,Delivery fee,Total Price,Service Fee,Tax,Final Price,Number of Claims,Complain Resolved,Complaints Resolved,Number of Open Complaints,Amount of Refund for resolved complaint
0,98308,Margaret Wibbens,Female,21,Dinner,No,No,Italian,Risotto,Yes,...,4.99,22.07,2.4277,3.20015,32.68785,7,3,5,2,126.35075
1,65541,Peter Delacruz,Male,46,Lunch,Yes,No,Thai,Spring Roll,No,...,3.99,8.98,0.9878,1.30210,15.25990,11,12,8,3,41.12840
2,98309,Beau Valentine,Male,20,Dinner,Yes,Yes,Indian,Butter Chicken,Yes,...,NaN,53.28,5.8608,7.72560,NaN,5,12,3,2,45.75420
3,65545,Sherill Galindo,Female,24,Breakfast,No,Yes,Italian,Gelato,Yes,...,5.99,2.23,0.2453,0.32335,8.78865,17,10,13,4,33.19355
4,65548,Jane Cottrell,Female,39,Dinner,Yes,No,Italian,Risotto,Yes,...,5.99,40.24,4.4264,5.83480,56.49120,8,12,8,0,92.14960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,32749,Rhonda Henley,Female,24,Lunch,Yes,Yes,Indian,Lassi,No,...,4.99,4.19,0.4609,0.60755,10.24845,17,7,17,0,81.55835
9996,98286,Jeffery Bolton,Male,15,Dinner,No,Yes,Chinese,Kung Pao Chicken,No,...,3.99,56.12,6.1732,8.13740,74.42060,11,15,11,0,176.70785
9997,32763,Ellen Garrett,Female,41,Lunch,No,Yes,Mexican,Michelada,Yes,...,NaN,31.85,3.5035,4.61825,NaN,9,5,6,3,43.76190
9998,32765,Allen Rhine,Male,65,Lunch,Yes,Yes,Indian,Tandoori Chicken,No,...,NaN,93.75,10.3125,13.59375,NaN,9,3,6,3,128.81250
9999,65534,Ian Portales,Male,53,Lunch,Yes,Yes,Japanese,Sake,Yes,...,3.99,43.80,4.8180,6.35100,58.95900,4,1,4,0,50.15100

In [34]:
df.to_csv('BI_dataset_V8.csv', index=False)

print("Saved without errors!")

Saved without errors!